#!/usr/bin/make -f

VERSION=$(shell dpkg-parsechangelog |grep ^Version:|cut -d ' ' -f 2)

%:
	dh $@ --with dkms,modaliases

override_dh_install:
	dh_install core hal include os_dep platform Kconfig Makefile clean ifcfg-wlan0 runwpa wlan0dhcp usr/src/rtl-8723-new-dkms-$(VERSION)/

override_dh_dkms:
	dh_dkms -V $(VERSION)

override_dh_auto_build:

override_dh_auto_install:
